{% extends 'base.html' %}

{% set page_head_title = 'To_Volunteer' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('To_Volunteer.static', filename='css/To_Volunteer.css') }}"/>
{% endblock %}

{% block page_body_main_content %}
     <div class="grid-container">
             {% include 'header.html' %}
             <div class="item8">אנא מלאו את הטופס ונשמח ליצור אתכם קשר בהקדם</div>


           <div class="item9">
            <form class="input_form" id="input_form" action="{{ url_for('To_Volunteer.get') }}" onsubmit="return validate()" method="POST">

             <div id="error_message"></div>
             <div class="txtb" >
             <label class="area">שם פרטי</label><br>
             <input type="text" name="first_name" placeholder="הכנס שם פרטי " class="input"><br><br>
             </div>

             <div class="txtb">
             <label class="area">שם משפחה</label><br>
             <input type="text" name="last_name" placeholder="הכנס שם משפחה " class="input"><br><br>
             </div>

             <div class="txtb">
             <label for="כתובת אימייל" class="area">כתובת אימייל</label><br>
             <input type="email" name="email" placeholder="הכנס אימייל  " class="input"><br><br>
             </div>

             <div class="txtb">
             <label for="נושא הפניה"class="area">נושא הפניה</label><br>
             <input type="text" name="subject" placeholder=" נושה הפניה  " class="input"><br><br>
             </div>

             <div class="txtb">
             <label for="מס' טלפון נייד"class="area">מס' טלפון נייד</label><br>
             <input type="phone" name="phone" placeholder="מס' טלפון נייד"class="input"><br><br>
             </div>

             <div class="txtb">
             <label class="area">תאריך לידה</label><br>
             <input type="date" name="start" name="תאריך לידה" class="area" value="0000-00-00" min="1995-01-01" max="2002-12-31"><br><br>
             </div>
           </div>

             <div class="item10">
             <div class="txtb" >
             <h2>מין:</h2>
             <input type="radio" id="gender" name="gender" value="M">Male
             <input type="radio" id="gender" name="gender" value="F">Female
             </div>

             <div class="txtb" >
             <h2 > האם יש נסיון התנדבותי עם בעלי מוגבלות :</h2>
             <input type="radio" id="question" name="question" value="yes" > כן
             <input type="radio" id="question" name="question" value="no"> לא
             </div>

         <button  class="btn" type="submit" name="Insert"  value="Insert" >Insert</button>
        </form>
          <form class="Delete_form" id="Delete_form" action="{{ url_for('To_Volunteer.Delete') }}"  method="POST">
                <div class="delete" >
                <button  class="btn" type="submit" name="Delete" value="Delete" >Delete</button>
                </div>
      </form>
 </div>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>






 </div>
{% endblock %}



{% block page_body_js %}
    <script src="{{ url_for('To_Volunteer.static', filename='js/To_Volunteer.js') }}"></script>
{% endblock %}
