{% extends 'base.html' %}

{% set page_head_title = 'credit_card' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('credit_card.static', filename='css/credit_card.css') }}"/>
{% endblock %}

{% block page_body_main_content %}
    <div class="contact-box"><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

        <h1>לתשלום</h1>
      <form class="input_form" id="input_form" action="{{ url_for('credit_card.insert') }}" onsubmit="return credit_card_validate()" method="POST" >

       <div id="error_message"></div>
        <div class="radio">
        <h2> פרטי תרומה</h2><br>
        <input id="donation_type" name="donation_type" type="radio" value="One-time donation">        תרומה חד פעמית
        <input id="donation_type" name="donation_type" type="radio" value="Monthly donation" >    רומה חודשית מתחדשת (הו"ק)
        </div>

        <div class="cost">
        <label class="donators" >סכום תרומה *</label>
        <input class="input" type="number" name="cost" placeholder="סכום תרומה"  >
        </div><br><hr><br>

        <div class="txtb" >
        <label class="label">שם פרטי</label>
        <input type="text" name="first_name" placeholder="הכנס שם פרטי " class="input">
        </div>

        <div class="txtb" >
        <label class="label">שם משפחה</label>
        <input type="text" name="last_name" placeholder="הכנס שם משפחה " class="input">
        </div>

        <div class="txtb" >
        <label for="כתובת אימייל" class="label">כתובת אימייל</label>
        <input type="text" name="email" placeholder="הכנס אימייל  " class="input">
        </div>

        <div class="txtb" >
        <label for="מס' טלפון נייד"class="label">מס' טלפון נייז</label>
        <input type="text" name="phone" placeholder="מס' טלפון נייד"class="input">
        </div>

        <h4>פרטי כרטיס אשראי</h4>
        <div class="txtb" >
        <label class="label">שם בעל/ת הכרטיס *</label>
        <input class="input" type="text" name="myname" placeholder="הכנס שם בעל/ת הכרטיס " >
        </div>

        <div class="txtb" >
        <label class="label">מספר הכרטיס * </label>
        <input   type="text" name="creditcard" placeholder="מספר הכרטיס" class="input" >
        </div>

        <div class="txtb1">
        <label class="label"  name="validity">תוקף הכרטיס *</label>
        <p style="    color: #808000 ; font-size: 16px;font-weight: bolder; text-align: right;"> שנה</p>
       <select name="expiration_year" >
        <option value="2021">2021</option>
        <option value="2022">2022</option>
        <option value="2023">2023</option>
        <option value="2024">2024</option>
        <option value="2025">2025</option>
        <option value="2026">2026</option>
        <option value="2027">2027</option>
        <option value="2028">2028</option>
        <option value="2029">2029</option>
        <option value="2030">2030</option>
        <option value="2031">2031</option>
       </select>
        <p style="    color: #808000 ; font-size: 16px;font-weight: bolder; text-align: right;">חודש</p>
       <select name="expiration_month" >
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
       </select>
       </div>

         <div class="txtb">
         <label class="label" > 3 ספרות בגב הכרטיס *</label>
         <input class="input" type="text" name="ccv" placeholder="3 ספרות בגב הכרטיס " >
         </div>

         <div class="txtb">
         <label class="label"> ת.ז. בעל/ת כרטיס *</label>
         <input class="input" type="text" name="id" placeholder="ת.ז. בעל/ת כרטיס " >
         </div>

         <button class="btn" type="submit" name="Insert" id="Insert" value="insert">submit</button>
         <div class="botom1"><a class="a" href="{{ url_for('Donators.index') }}">חזרה </a></div>

    </form>
   </div>
{% endblock %}



{% block page_body_js %}
    <script src="{{ url_for('credit_card.static', filename='js/credit_card.js') }}"></script>
{% endblock %}
