{% extends 'base.html' %}

{% set page_head_title = 'Contact_us' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('Contact_us.static', filename='css/Contact_us.css') }}"/>
{% endblock %}

{% block page_body_main_content %}
      <div class="grid-container">
             {% include 'header.html' %}
            <div class="item8">אנא מלאו את הטופס ונשמח ליצור אתכם קשר בהקדם</div>

            <div class="item9">
            <div id="error_message"></div>
             <form class="input_form" name="input_form" action="{{ url_for('Contact_us.inserts') }}" onsubmit="return Contact_usvalidate()" method="POST">
            <div class="txtb" >
            <label class="area">שם פרטי</label><br>
            <input type="text" id="firstname" name="first_name"  placeholder="הכנס שם פרטי " class="input"><br><br>
            </div>

            <div class="txtb" >
            <label class="area">שם משפחה</label><br>
            <input type="text" id="last_name" name="last_name"  placeholder="הכנס שם משפחה " class="input"><br><br>
            </div>

            <div class="txtb" >
            <label for="כתובת אימייל" class="area">כתובת אימייל</label><br>
            <input type="email" id="email" name="email"  placeholder="הכנס אימייל  " class="input"><br><br>
            </div>

            <div class="txtb" >
            <label for="נושא הפניה"class="area">נושא הפניה</label><br>
            <input type="text" id="subject" name="subject"  placeholder=" נושה הפניה  " class="input"><br><br>
            </div>

            <div class="txtb" >
            <label for="מס' טלפון נייד"class="area">מס' טלפון נייד</label><br>
            <input type="text" id="phone" name="phone"  placeholder="מס' טלפון נייד"class="input"><br><br>
            </div>
            </div>

            <div class="item10">
            <h2 class="area">הודעה</h2>
            <div class="txtb" >
            <textarea id="message" rows="5" cols="70" name="comment" form="usrform" class="input"></textarea>
            </div>
            </div>

            <div class="submit">
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <div>
                <button class="btn" type="submit" id="insert"  name="insert"  value="insert" >insert </button>
            </div>
                <div>
                <button class="btn" type="submit"  name="update" value="update" onclick="alert('The user was updated')">update </button>
                 </form>
            </div>



        </div>
{% endblock %}



{% block page_body_js %}
    <script  src="{{ url_for('Contact_us.static', filename='js/Contact_us.js') }}"></script>
{% endblock %}
