{% extends 'base.html' %}

{% set page_head_title = 'Contact_us' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('Contact_us.static', filename='css/Contact_us.css') }}"/>
{% endblock %}

{% block page_body_main_content %}
      <div class="grid-container">
             {% include 'header.html' %}
            <div class="item8">אנא מלאו את הטופס ונשמח ליצור אתכם קשר בהקדם</div>


            <div class="item9">
             <form class="input_form"  action="{{ url_for('Contact_us.inserts') }}" method="POST">

            <div id="error_message"></div>
               <div class="txtb" >
            <label class="area">שם פרטי</label><br>
            <input type="text" id="firstname" name="first_name"  placeholder="הכנס שם פרטי " class="input"><br><br>
            </div>

            <div class="txtb" >
            <label class="area">שם משפחה</label><br>
            <input type="text" id="last_name" name="last_name" placeholder="הכנס שם משפחה " class="input"><br><br>
            </div>

            <div class="txtb" >
            <label for="כתובת אימייל" class="area">כתובת אימייל</label><br>
            <input type="email" id="email" name="email" placeholder="הכנס אימייל  " class="input"><br><br>
            </div>

            <div class="txtb" >
            <label for="נושא הפניה"class="area">נושא הפניה</label><br>
            <input type="text" id="subject" name="subject" placeholder=" נושה הפניה  " class="input"><br><br>
            </div>

            <div class="txtb" >
            <label for="מס' טלפון נייד"class="area">מס' טלפון נייד</label><br>
            <input type="text" id="phone" name="phone" placeholder="מס' טלפון נייד"class="input"><br><br>
            </div>
            </div>

            <div class="item10">
            <h2 class="area">הודעה</h2>
            <div class="txtb" >
            <textarea id="message" rows="5" cols="70" name="comment" form="usrform" class="input"></textarea>
            </div>
            </div>

            <div class="submit">
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <div class="btn" >
                <input type="submit" name="insert"  value="insert" onclick="alert('The user was Inserted')">
{#                <button type="button" class="button" value="submit form" onclick="validate(phone)">Send</button>#}
            </div>
                <div class="btn" >
                <input type="submit" name="update" value="update" onclick="alert('The user was updated')">
                 </form>
            </div>



        </div>
{% endblock %}



{% block page_body_js %}
    <script  src="{{ url_for('Contact_us.static', filename='js/Contact_us.js') }}"></script>
{% endblock %}
