{% extends 'base.html' %}

{% set page_head_title = 'Officials' %}

{% block page_head_css %}
    <link rel="stylesheet" href="{{ url_for('Officials.static', filename='css/Officials.css') }}"/>
{% endblock %}

{% block page_body_main_content %}

            <div class="grid-container">
               {% include 'header.html' %}
            <div class="img"><img src="{{ url_for('Officials.static', filename='media/Officials1.jpg')}}"  alt="" width="auto" height="300"></div>
            <div class="mangment">
                <h2>_______</h2>
                <h1>חברי הועד המנהל</h1>
                <pre class="pre"> ד״ר אילון שני  - חבר ועד          ד״ר פנינה שוורץ - שור  - יו״ר<br>
 בלה אברהמס - חברת ועד           אורן גולן - גזבר וחבר ועד    <br>
 דני וונש - חבר ועד               אלישע טל - חבר ועד                  <br>
 עמוס רם - חבר ועד               גילי פנחסי - חבר ועד         <br>
 אילנה היוז-שריג - חברת ועד         ד"ר לירון תלמי - חברת ועד  <br>
</pre>
            </div>
            <div class="mangment2">
                <h2>_______</h2>
                <h1>יועצים מתנדבים</h1>
                <pre class="pre">
 רו״ח נחמיה שמענוביץ - רו״ח העמותה<br>
 בריטמן אלמגור זהר ושות' רואי חשבון - מבקר פנים<br>
 רו״ח רחלי פלג-לאור - ביקורת פנים                  <br>
 עו״ד גדי גראוס ומשרד שיבולת בע"מ - ייעוץ משפטי         <br>

</pre>

            </div>
            <div class="mangment3">
                <h2>_______</h2>
                <h1>צוות מקצועי</h1>
                <pre class="pre">
ניצן בן-משה - מנהלת הבית הדרומי                  יונתן קרני - מנכ״ל העמותה    <br>
יואב שדמי - מנהל הבית הצפוני                     אורה ביתן - סמנכלית העמותה     <br>
רותי קטנוב - מנהלת מקצועית  זהבי                  דביר - מנהלת הבית הירושלמי <br>
צוריה שליסלברג - מנהלת משרד ורכזת מילג             מרואה אבו-סיאם - מנהלת בית אלאמל <br>
אורלי טאג - מנהלת פיתוח משאבים                   סמי ג׳בארין - מנהל הבית בוואדי ערה <br>
יערה כהן - מנהלת כספים                          גילי רפפורט - מנהלת שלוחה חרדית  <br>
עדינה ארבל - מנהלת פיתוח משאבים בחו"ל             הילה ינאי - מנהל מרכז היום ״גלגל התנופה״ <br>
הדר אפלבוים-קלוש - החוויה המתגלגלת                עמית אונגר - רכז נגישות ופורום בוגרים <br>
<br>

</pre>
</div>

</div>

{% endblock %}



{% block page_body_js %}
    <script src="{{ url_for('Officials.static', filename='js/Officials.js') }}"></script>
{% endblock %}
