<!doctype html>
<html dir="rtl">
<head>
    <title>About Us</title>
    <link rel="Stylesheet" href="{{ url_for('static', filename='css/About Us.css')}}">
</head>
<body>
        <div class="grid-container">
            {% include 'header.html' %}

            <div class="img"><br><br>
                <img src="{{ url_for('static', filename='img/About Us1.jpg')}}"  alt="" width="auto" height="300">
            </div>  
            <div class="h"><br><br><h1>מי אנחנו</h1></div>
            <div class="text"><br><br><br>
                בית הגלגלים הוא ארגון ארצי לצעירים ובוגרים עם מוגבלות פיזית, הכולל ששה בתים הפתוחים<br>
                לאוכלוסיות שונות מכל חלקי החברה הישראלית. כל אחד מהבתים מהווה מסגרת חברתית וחינוכית<br>
                              מהנה ומשמעותית שבה מתנסים במגוון כישורי חיים, ובאינטראקציות בינאישיות.<br>
                בית הגלגלים מקיים מסגרת רציפה מגיל 9, דרך ההתבגרות ובמהלך הבגרות, עם מגוון תכניות ופעילויות<br>
                במטרה לאפשר רכישת מיומנויות חברתיות וקידום השתתפות חברתית ואזרחית בכל מעגלי החברה.<br>
                להגשמת החזון פועלים, בעשייה משותפת, כ-500 מתנדבים מסורים ומיוחדים, מכל קצוות הארץ וגווני<br>
                הקשת הפוליטית, החברתית, הדתית והעדתית, יהודים וערבים, דתיים וחילוניים, בעלי מקצוע<br>
                וסטודנטים שיחד תורמים כ 200,000 שעות התנדבות בשנה. עבור רבים מהמתנדבים בית הגלגלים חשף<br>
                עולמות שלא הכירו ומשאיר חותם גם לאחר שסיימו את פעילותם בו.<br>
                יחד עם צוות המתנדבים, בהנהגת הוועד המנהל ובהדרכת צוות מקצועי, נוטלים צעירינו חלק בפעילות<br>
                חברתית מגוונת, ככל יתר בני גילם, ובכלל זה מחנות קיץ וטיולים, סדנאות, סופי שבוע, פעילויות הפגה<br>
                העשרה ופיתוח מיומנויות, וחוגי אמנות, מוסיקה, עיתונאות תקשורת .וטלוויזיה, מחול, בישול, ספורט<br>
                אנו מעודדים את בוגרינו להשתלב בעמותה כמדריכים,  ולהוות מודל ודוגמא לחניכים הצעירים.<br>
            </div>

            <div class="h2"><br><br><h1>חזון העמותה</h1></div>
            <div class="text2"><br><br><br>
                בית למפגש חברתי לצעירים עם מוגבלות פיזית ומתנדבים מכלל חלקי החברה.<br>
                מרחב שוויוני ומסגרת קבוצתית מתמשכת שמאפשרים פיתוח אוטונומיה תוך קידום<br>
                השתתפות אזרחית ויצירת הזדמנויות שוויוניות.<br>
                <br>
            </div>

            <div class="h3"><br><br><h1>מטרות העמותה</h1></div>
            <div class="img2"><br><br>
            <img src="{{ url_for('static', filename='img/About Us2.jpg')}}" alt="" width="auto" height="350">
            </div>

        </div>
    </body>
</html>