<!doctype html>
<html dir="rtl">
    <head>
        <title>Contact us</title>
        <link rel="Stylesheet" href="{{ url_for('static', filename='css/Contact us.css')}}">
        <script src="{{ url_for('static', filename='js/Contact us.js')}}"></script>
    </head>
    <body>
       
            <div class="grid-container">
             {% include 'header.html' %}
            <div class="item8">אנא מלאו את הטופס ונשמח ליצור אתכם קשר בהקדם</div>

            <div class="item9">
            <div id="error_message"></div>
            <form id="myform" onsubmit="return validate();">

            <div class="txtb" >
            <label class="area">שם פרטי</label><br>
            <input type="text" id="firstname" placeholder="הכנס שם פרטי " class="input"><br><br>
            </div>
         
            <div class="txtb" >
            <label class="area">שם משפחה</label><br>
            <input type="text" id="lastName" placeholder="הכנס שם משפחה " class="input"><br><br>
            </div>

            <div class="txtb" >
            <label for="כתובת אימייל" class="area">כתובת אימייל</label><br>
            <input type="text" id="email" placeholder="הכנס אימייל  " class="input"><br><br>
            </div>

            <div class="txtb" >
            <label for="נושא הפניה"class="area">נושא הפניה</label><br>
            <input type="text" id="subject" placeholder=" נושה הפניה  " class="input"><br><br>
            </div>

            <div class="txtb" >
            <label for="מס' טלפון נייד"class="area">מס' טלפון נייד</label><br>
            <input type="text" id="phone" placeholder="מס' טלפון נייד"class="input"><br><br>
            </div>
            </div>

            <div class="item10">
            <h2 class="area">הודעה</h2>
            <div class="txtb" >
            <textarea id="message" rows="5" cols="70" name="comment" form="usrform" class="input"></textarea>
            </div>
            </div>

            <div class="submit">
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <div class="btn" >
            <input type="submit">
            </div>
            </form>
        </div>
        </div>
</body>
</html>