<!doctype html>
<html dir="rtl">
    <head>
        <title>Donators page</title>
        <link rel="Stylesheet" href="{{ url_for('static', filename='css/Donators.css')}}">
        <script src="{{ url_for('static', filename='js/HoverJS.js')}}"></script>
    </head>
    <body>
       
            <div class="grid-container">
             {% include 'header.html' %}
            <div class="img"><img src="{{ url_for('static', filename='img/Donators.jpg')}}" alt="" width="auto" height="280" ></div>
            <div class="text"> <br><br><br>
                מפעילות העמותה נהנים בכל שנה כ-470 ילדים ובוגרים אשר פועלים  באמצעות צוות מדריכים מסור ומיוחד<br>
                כ-500 מתנדבים חילונים ודתיים, ערבים ויהודים, המגיעים ממקומות שונים בארץ ומיצגים קשת  מקצועית<br>
                ואידיאולוגית ופועלים תוך הרמוניה ועבודה משותפת. <br>
            </div>
            <div class="pay"><img src="{{ url_for('static', filename='img/pay.jpg')}}" alt="" width="auto" height="350" ></div>

            <div class="botom" onmouseover="bgchange4(this)" onmouseout="bgnormal4(this)">
            <a class="a" onmouseover="textchange(this)" onmouseout="textnormal(this)" href="{{ url_for('credit_card') }}"> לתרומה מאובטחת </a>
            </div>
            </div>
    </body>
</html>