<!doctype html>
<html dir="rtl">
<head>
    <title>Our Volunteers</title>
    <link rel="Stylesheet" href="{{ url_for('static', filename='css/Our volunteers.css')}}">
</head>
<body>
        <div class="grid-container">
         {% include 'header.html' %}
         <div class="img1"><br><br><img src="{{ url_for('static', filename='img/Our Volunteers1.jpg')}}" alt="" width="auto" height="300"></div>
         <div class="text"><br><br><br><br><br>
            עקב כך שחניכי העמותה דורשים תשומת לב רבה, דרושים מספר מתנדבים וחונכים הזהה למספר החניכים.
            <br><br>
            בעמותה קיימים 450 חונכים הנחשבים לכוח העלית של העמודה והם מתחייבים של שנתיים לפחות שיכולה להימשך כיותר מכך.
            <br><br>
            העבודה המשותפת של המדריכים והחניכים ב"בית הגלגלים" עיצבה קהילה תומכת ומעשירה בה יש מקום שווה לנכה לצד הבריא, לדתי לצד החילוני ולערבי לצד היהודי
        </div>
   </div>
    </body>
</html>